
/* 搜索选中框 */
.cm-s-obsidian span.obsidian-search-match-highlight {
    box-shadow: 0 0 0px 3px rgb(255, 0, 0);
    background-color: #ffffff;
    mix-blend-mode: var(--highlight-max-blend-mode);
    border-radius: 5px;
}


/* 数学公式块 */
body.unified-cm-highlighting[class*="theme-"] .cm-s-obsidian .cm-math {
    /* 边框 */
    background-color: #313641;
    /*文字距边缘的距离*/
    padding: 5px 5px;
}

/* Codeblock Style */
/* 标题栏和代码块对齐 */
/* .markdown-source-view.mod-cm6 .cm-content>* {
    margin: auto !important;
}
 */
 
/* 标题栏字体颜色 */
 body.code-styler .code-styler-header-text {
    color: rgb(203, 203, 203); /* 字体颜色 */
 }

 /* 行内inline代码块 */
 .cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
    /** 字体颜色在Code Styler插件内设置 */
     box-shadow: 0 0 0px 1px rgb(227, 227, 227); /* 边框 */
 }

 /* 标注callout inline代码块 */
 .markdown-rendered code {
    box-shadow: 0 0 0px 1px rgb(227, 227, 227); /* 边框 */
 }