/** 文件名**/
/* body .nav-file-title-content:not(.is-being-renamed):hover {
  animation: filemove 1.5s 1 normal linear;
} */

/* 文件列表显示宽度 */
body .nav-file-title-content:not(.is-being-renamed) {
  min-width: 200px;
}

/* body .nav-file {
  display:table;
} */
/** 文件夹名**/
/* body .obsidian-icon-folder-icon {
  vertical-align: middle;
  display: inline;
}

body .nav-folder-title {
  white-space: nowrap;
}

.nav-folder-title-content.is-being-renamed {
  white-space: break-spaces;
}

body .nav-folder-title-content:not(.is-being-renamed) {
  min-width: 200px;
  white-space: nowrap;
}
body .nav-folder-title-content:not(.is-being-renamed):hover {
  animation: filemove 2.1s 1 normal linear;
}

@keyframes filemove {
  0% {transform: translate(0, 0);}
  100% {transform: translate(calc(-100% + 200px), 0);}
}
 */